.vscode/**
.vscode-test/**
src/**
scripts/*.test.js
.gitignore
.gitattributes
tsconfig.json
**/*.ts
**/*.map
node_modules/@types/**
node_modules/typescript/**
node_modules/.bin/**
node_modules/.package-lock.json
.git/**
.github/**
ARCHITECTURE.md
*.vsix
